<header
    style="height: 5rem;
    background-color: #2f0259;
    margin-bottom: .5rem;
    display: grid;">
    <div style="align-self: center; display: flex; margin-left: .5rem">
    <img
        style="width: 4rem"
        src='/images/logo.svg' />
    <div style="align-content: center; font-size: 1.5rem;">
        <div>Sports</div>
        <div>Blazor</div>
    </div>
    </div>
</header>
